{% extends 'smsapp/layout/basic.html' %}

{% block title %}Форма СМС-рассылки{% endblock %}
{% block content %}
    <h3>Форма СМС-рассылки</h3>
    <form class="form-row" method="post">
        {% csrf_token %}
        <fieldset>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="control-label"><b>{{ field.label }}:</b></label>
                    <div>{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success" >Отправить СМС</button>
            </div>
        </fieldset>
    </form>
{% endblock %}