{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} - Портал СМС</title>
    <link rel="stylesheet" type="text/css" href="{% static 'smsapp\css\bootstrap.css' %}">
</head>
<body>
    <header>
        <h1>Рассылка СМС</h1>
    </header>
    <nav aria-label="breadcrumb">
        <a href="{% url 'smsform' %}">Главная</a>
        <br>
    </nav>
    <section>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>